@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  height: 100vh;
  widht: 100vw;
  background-color: "#4378FF";
}
@layer base {
  html {
    @apply font-poppins;
  }
}

@layer components {
  .base-timeTable {
    @apply px-3 flex items-center justify-center py-0 rounded-lg;
  }
  .active-timeTable {
    @apply bg-slate;
  }
}

.img-to-white {
  width: 30px;
  height: auto;
}

.loader-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4rem;
  gap: 1.6rem;
  color: var(--color-medium);
  font-size: 1.4rem;
}

.loader {
  width: 50px;
  height: 24px;
  background: radial-gradient(circle closest-side, currentColor 90%, #0000) 0%
      50%,
    radial-gradient(circle closest-side, currentColor 90%, #0000) 50% 50%,
    radial-gradient(circle closest-side, currentColor 90%, #0000) 100% 50%;
  background-size: calc(100% / 3) 12px;
  background-repeat: no-repeat;
  animation: loader 1s infinite linear;
}
@keyframes loader {
  20% {
    background-position: 0% 0%, 50% 50%, 100% 50%;
  }
  40% {
    background-position: 0% 100%, 50% 0%, 100% 50%;
  }
  60% {
    background-position: 0% 50%, 50% 100%, 100% 0%;
  }
  80% {
    background-position: 0% 50%, 50% 50%, 100% 100%;
  }
}
.error {
  text-align: center;
  font-size: 1.6rem;
  font-weight: 500;
  padding: 2rem;
  background-color: #495057;
  border-radius: 100px;
}

.violetBackground {
  background-color: "#c08FFF";
}
.pinkBackgrund {
  background-color: "#553452";
}
.orangeBackground {
  background-color: "#FE9636";
}
.greenBackground {
  background-color: "#37C1A8";
}
.redBackground {
  background-color: "#F26C6C";
}
.blueBackground {
  background-color: "#190482";
}
